@model SecretSantaDraw.Models.WishItem

@{
    ViewBag.Title = "Add Wish Item Partial";
}

<h4>Add a new wish list item</h4>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="editor-label">
        @Html.LabelFor(model=>model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model=>model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    
    <div class="editor-label">
        @Html.Label("Level of Desire")
    </div>
    <div class="editor-field">
        @Html.EnumDropDownList("DesireLevel", DesireLevel.High)
    </div>
    
    <p>
        <input type="submit" value="Add" />
    </p>

}
