@using SecretSantaDraw.HtmlHelperExtensions
@model Profile

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOB)
            @Html.ValidationMessageFor(model => model.DOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("GenderType", GenderType.NotSpecified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShirtSize)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("ShirtSize", ShirtSize.NotSpecified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HatSize)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("HatSize", HatSize.NotSpecified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShoeSize)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("ShoeSize", ShoeSize.NotSpecified)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
