@using SecretSantaDraw.Models
@using SecretSantaDraw.HtmlHelperExtensions
@model SecretSantaDraw.Models.Profile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("GenderType", Model.Gender)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShirtSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("ShirtSize", Model.ShirtSize)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HatSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("HatSize", Model.HatSize)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShoeSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("ShoeSize", Model.ShoeSize)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Profiles", "Index")
    </p>
}
