@model SecretSantaDraw.Models.Profile
@using SecretSantaDraw.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("GenderType", Model.Gender)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShirtSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("ShirtSize", Model.ShirtSize)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HatSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("HatSize", Model.HatSize)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShoeSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("ShoeSize", Model.ShoeSize)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProfileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
