@model SecretSantaDraw.Models.Profile
@using SecretSantaDraw.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayName):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("GenderType", Model.Gender)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShirtSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("ShirtSize", Model.ShirtSize)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.HatSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("HatSize", Model.HatSize)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShoeSize):
    </div>
    <div class="display-field">
        @Html.EnumDisplayName("ShoeSize", Model.ShoeSize)
    </div>
    
    <table>
    @if (Model.WishList.Count > 0)
    {
        <th>Wish List</th>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Level of Desire</th>
        </tr>
    }
    @foreach (var item in Model.WishList)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.EnumDisplayName("DesireLevel", item.DesireLevel)
            </td>
        </tr>
    }
</table>

</fieldset>
<p>
    @Html.ActionLink("Edit Profile", "Edit", new { id=Model.ProfileId }) |
    @Html.ActionLink("Edit Wish List", "Create", "WishItem", new { profileId=Model.ProfileId }, null) |
    @Html.ActionLink("Back to Profiles", "Index")
</p>
