@model SecretSantaDraw.Models.Profile

@{
    ViewBag.Title = "Edit Wish List";
}

<h2>@Html.DisplayFor(model => model.DisplayName)</h2>
<h3>Wish List </h3>

<table>
    @if (Model.WishList.Count > 0)
    {
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Level of Desire</th>
            <th></th>
        </tr>
    }
    @foreach (var item in Model.WishList)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.EnumDisplayName("DesireLevel", item.DesireLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "WishItem", new { id = item.WishItemId }, null) |
                @Html.ActionLink("Delete", "Delete", "WishItem", new { id = item.WishItemId }, null)
            </td>
        </tr>
    }
</table>

@Html.Partial("_AddWishItemPartial", model: new WishItem())

<div>
    @Html.ActionLink("Back to Profiles", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
