@model SecretSantaDraw.Models.Profile
@using SecretSantaDraw.Models
@using SecretSantaDraw.HtmlHelperExtensions

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        @Html.HiddenFor(model => model.ProfileId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOB)
            @Html.ValidationMessageFor(model => model.DOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("Gender", Model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShirtSize)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("ShirtSize", Model.ShirtSize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HatSize)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("HatSize", Model.HatSize)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShoeSize)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownList("ShoeSize", Model.ShoeSize)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Profiles", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
