@model IEnumerable<SecretSantaDraw.Models.Profile>

@{
    ViewBag.Title = "Profiles";
}

<h2>Profiles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.DisplayName, "Details", new { id = item.ProfileId })
            </td>
            <td>
                @Html.EnumDisplayName("ShirtSize", item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProfileId }) |
                @Html.ActionLink("Edit Wish List", "Create", "WishItem", new { profileId = item.ProfileId }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProfileId })
            </td>
        </tr>
    }

</table>
